

body {
  background-color: rgba(178,94,6,0.5);
  color: white;
}

main *{
  /*border: 1px solid black;*/
}

h1 {
  /*border: 2px solid red;*/
  text-align: center;
}

#chat figure {
  position: absolute;
  bottom: 29vh;
  z-index: 1;
  right: 50px;
  /*border: 1px solid yellow;*/
  width: 200px;
}

#chat figure img {
  width: 100%;
}

#chat figure figcaption {
  color: black;
  font-size: 18px;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 20px;
  /*border: 1px solid black;*/
}

#boy {
  position: fixed;
  bottom: -20px;
  right: 0px;
  /*border: 1px solid red;*/
  width: 80%;
  max-width: 200px;
}

#play {
  width: 80%;
  max-width: 200px;
  border: 1px solid red;
}

#play img {
  width: 100%;
}

#play button {
  background-color: inherit;
  border: none;
}

aside {
  width: 90px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid white;
  background-color: rgba(1,127,1,0.8);
}
