@font-face {
    font-family: a;
    src: url(../font/a.TTF);
}

@font-face {
    font-family: b;
    src: url(../font/b.otf);
}

body {
  background-color: rgba(178,94,6,0.5);
  color: white;
}

main *{
  margin: 0px;
  /*border: 1px solid black;*/
}

h1, #play p {
  margin-top: 10px;
  /*border: 2px solid red;*/
  text-align: center;
  font-family: a;
  letter-spacing: 3px;
  font-weight: lighter;
  color: white;
  position: relative;
  font-size: 53px;
  text-shadow: 0px 2px 1px rgb(1,127,1);
  z-index: 3;
}



/*mise en page du garçon avec sa bulle*/
#chat figure {
  position: absolute;
  bottom: 29vh;
  z-index: 1;
  right: 100px;
  /*border: 1px solid yellow;*/
  width: 200px;
}

#chat figure img {
  width: 100%;
}

#chat figure figcaption {
  color: black;
  font-size: 18px;
  position: absolute;
  top: 0;
  color: rgb(178,94,8);
  font-family: b;
  text-align: center;
  padding: 20px;
  /*border: 1px solid black;*/
  width: 70%;
}

#chat figure figcaption button, #chat figure figcaption input  {
  background-color: rgba(1,127,1,0.9);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border-color: none;
  padding: 4px 10px;
  margin-top: 5px;
  font-size: 12px;
  max-width: 60%;
}

#chat figure figcaption span {
  color: rgb(178,94,8);
  font-size: 1.1em;
  font-style: italic;
}


#btnAskForName {
  background-color: rgb(178,94,6)!important;
  position: relative;
  top: -4px;
  right: -35px;
}

#boy {
  position: fixed;
  bottom: -20px;
  right: 0px;
  width: 80%;
  max-width: 200px;
}

#play {
  width: 80%;
  /*max-width: 200px;*/
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  margin: auto;
  text-align: center;
}

#play button {
  text-align: center;
  height: 100px;
}

#play img {
  height: 100%;
  /*width: 100%;*/
}

#play button {
  background-color: inherit;
  border: none;
}

aside {
  min-width: 90px;
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid white;
  background-color: rgba(1,127,1,0.8);
}
